{% load static %}

<html lang="en">
  <head>
    <title>Sanmed Science</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{%static 'js/extraEffects.js'%}"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

    <link rel="stylesheet" href="{% static 'css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css'%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery-section{
  width: 100%;
  padding: 20px 0;
  background: white;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.gallery-section h1{
  font-size: 30px;
    font-weight: 400;
  text-align: center;
  
  color: #000;
}
.gallery-section p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
 .gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
 } 
 .gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}
.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}
@media screen and (max-width:960px){
  .gallery-section .image{
    flex: 33.33%;
  }
}
@media screen and (max-width:720px){
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:480px){
  .gallery-section .image{
    flex: 33.33%;
  }
}

.align-self-stretch{
 align-items:center;
}

.footer_paragraph{
   word-break: break-all;
}

.img_companylogo{
  height: 40px;
  width: 40px;
}

.Product_section{
text-align: center;

}

.Product_heading{
  color: #233142;
  margin-top: -50px;
  margin-bottom: 30px;
}

.Safety_section{
  text-align: center;
}

.safety_list{
  padding: 0px 15px;
}

.accordion-section .panel-default > .panel-heading {
    border-radius: 50px;
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 20px;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 2rem;
    content: "\f106";
    color: #233142;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

.navbar-brand {
    font-weight: 700;
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) and (min-width: 300px)  {
  .accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 15px;
}
.Product_heading {
    color: #233142;
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 30px;
}


p.accordion_paragraph {
    font-size: 15px;
}
}

a:hover{
  color: #233142 !important;
}
    </style>
  </head>
  <body>
   
    <a name="home"></a>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
        <a class="navbar-brand logo_h" href=""><img class="img_companylogo" src="{% static 'images/companylogo.png' %}" alt="not running">  Sanmed Sciences</a>
	      <a class="navbar-brand" href=""></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#Products_section" class="nav-link">Product</a></li>
	          <li class="nav-item"><a href="#Safety_section" class="nav-link">Data safety and privacy</a></li>
	          <li class="nav-item"><a href="#faq_section" class="nav-link" >FAQs</a></li>
	          <li class="nav-item cta"><a href="#Contact_section" class="nav-link"><span>Contact Us</span></a></li>    
          </ul>
	      </div>
	    </div>
	  </nav>
 
    
    <div class="hero-wrap">
      
      <div class="container-fluid">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

          <div class="one-forth ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
          	<h1 class="mb-4"> Trust us for
              
            </h1>
            <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> Accelerating your research journey and making it further joyful using <strong> research automation </strong>and <strong>Machine Learning.</strong></p>
            
            <p class="nav-item cta"><a href="#" data-toggle="modal" data-target="#modalRequest"><span>Get In Touch</span></a> </p>
          </div>
          <div class="one-half align-self-md-end align-self-sm-center">
          	<div class="slider-carousel owl-carousel">
          		
		          <div class="item">
			          <img src="{% static 'images/Process-Automation.png' %}" height="100%" width="100%" class="img-fluid img" alt="">
		          </div>
	          </div>
          </div>
        </div>
      </div>
    </div>
    
    <section id="about" class="ftco-section ftco-section-2">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<h3 class="heading-white">Because you the initiators deserve best.</h3>
    			</div>
    		</div>
    	</div>
    </section>
  <a name="service"></a>

  <section id="services"class="ftco-section ftco-services">
     <section class="gallery-section">
   <div class="inner-width">
  <h1> Experimental/ Computational Biologist</h1>
  <p>Our automation products can help you accelerate your research by taking care of routine tasks including:</p>

</div>


</section>


      <div class="container">
      
            <div class="row">
              
              <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                  <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-sitemap fa-3x"></i></div></div>
                  <div class="media-body p-2 mt-3">
                    <h3 class="heading"></h3>
                    <p class="content_para">
                       Organizing research data to allow quick search and share.
                    </p>
                  </div>
                </div>      
              </div>

              <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-chart-line fa-3x"></i></div></div>
                    <div class="media-body p-2 mt-3">
                      <h3 class="heading"></h3>
                      <p class="content_para"> Finding interesting patters from research data.</p>
                    </div>
                  </div>   
              </div>

              <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                  <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-search-plus fa-3x"></i></div></div>
                  <div class="media-body p-2 mt-3">
                    <h3 class="heading"></h3>
                    <p class="content_para">Finding relevant papers for individual experiment .</p>
                  </div>
                </div>   
              </div> 
            </div> 
            <br>

            <div class="row">

                 <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-filter fa-3x"></i></div></div>
                    <div class="media-body p-2 mt-3">
                      <h3 class="heading"></h3>
                      <p class="content_para">
                        Finding optimal parameter values for computational model .
                      </p>
                    </div>
                  </div>  
                </div>
                
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-tasks fa-3x"></i></div></div>
                    <div class="media-body p-2 mt-3">
                      <h3 class="heading"></h3>
                      <p class="content_para"> Managing lab orders and inventory .</p>
                    </div>
                  </div>      
                </div>

                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><i class="fas fa-users fa-3x"></i></div></div>
                    <div class="media-body p-2 mt-3">
                      <h3 class="heading"></h3>
                      <p class="content_para"> Facilitating easy transfer of data from passing out students to new student.

</p>
                    </div>
                  </div>    
                </div>

               
            </div>  
            <br>
           
      </div>

    
  </section>
    
  <a name="about"></a>
    <section class="ftco-section" id="Products_section">
      <div class="container">
        <div class="Product_section"><h1 class="product_heading">Products</h1> </div>
        <div class="row d-md-flex">
          <div class="col-md-6 ftco-animate img about-image" style="background-image: url({% static 'images/naradbanner.jpg' %});">
          </div>
          
          <div class="col-md-6 ftco-animate p-md-5">
                    <div>
                      <h2 class="mb-4">Narad</h2>
                      <p>Narad offers everything from data management to machine learning-based softbot to dicover patterns in your data. </p>
                      <a href="https://narad.sanmed.ca" target="_new"><button class="btn btn-primary-sm">Narad Console <i class="fas fa-external-link-alt" style="font-size: 30px;"> </i></button></a>
                      
                    </div>
           
          </div>
        </div>
        <br>
        <div class="row d-md-flex">
          <div class="col-md-6 ftco-animate p-md-5">
                    <div>
                      <h2 class="mb-4">Labma</h2>
                      <p>Manage your lab inventory like a pro!. </p>
                      <a href="https://labma.sanmed.ca" target="_new"><button class="btn btn-primary-sm">Labma Console <i class="fas fa-external-link-alt" style="font-size: 30px;"> </i></button></a>
                      
                    </div>
          </div>
          <div class="col-md-6 ftco-animate img about-image" style="background-image: url({% static 'images/labmabanner.jpg' %});">
          </div>
        </div>
        <br>
        <div class="row d-md-flex">
          <div class="col-md-6 ftco-animate img about-image" style="background-image: url({% static 'images/vexperimentbanner.jpg' %});">
          </div>
          <div class="col-md-6 ftco-animate p-md-5">
                    <div>
                      <h2 class="mb-4">Vexperiment </h2>
                      <p>Simulate your experiments before actually doing them. </p>
                      <a href="https://vexperiment.sanmed.ca" target="_new"><button class="btn btn-primary-sm"> Subscribe for update <i class="fas fa-external-link-alt" style="font-size: 30px;"></i> </button></a>
                    </div>
          </div>
          
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">

    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-11">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" >94%</strong>
		                <span>Recurring Clients</span>
		              </div>
		            </div>
		          </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number">30</strong>
                    <span>Months Support</span>
                  </div>
                </div>
              </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number">400+</strong>
		                <span>Sleepless Nights</span>
		              </div>
		            </div>
		          </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" >100 %</strong>
                    <span>Availability</span>
                  </div>
                </div>
              </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
 
 <section class="ftco-section ftco-work" id="Safety_section">
    <div class="container">
       <div class="Safety_section">
          <h1 class="product_heading">Safety and Privacy of your data</h1>
          
       </div>
       <div class="Safety_content">
         <p>Providing highest level of safety and privacy to your data is our first priority. We strictly follow the following guidelines to protect your data and personal information:
         </p>
         <ul class="safety_list">
            <li> We never share your data with anyone. Our researchbots use pull operations where information relevant to your research are pulled from public databases and pushed to your notification area without sharing your data anywhere.</li>
            <li> All our servers are encrypted and secure.</li>
            <li> You can further protect your account by email/phone OTP option. With this option, you need your mobile phone or email to access your Narad/Vexperiment/Labma account.</li>
            <li> All our Login screens are protected by <a href="https://www.google.com/recaptcha" class="btn btn-sm btn-warning" target="_new">Google reCAPTCHA <i class="fas fa-external-link-alt" style="font-size: 30px;"></i></a>.
            </li>
            <li> To further protect your data 
                <ul>  Before you begin, make sure the weblogin page (URL) starts with one of the following: 
                   <li><a href=""></a> https://www.sanmed.ca/..</li>
                   <li><a href=""></a> https://narad.sanmed.ca/..</li>
                   <li><a href=""></a> https://vexperiment.sanmed.ca/.. </li>
                   <li><a href=""></a> https://labma.sanmed.ca/... </li>
                   <li> Check your browser for a valid Sanmed certificate <br>
                      <button class="btn btn-lg" style="font-size:30px;color:#ff6600" onclick="showCertificate(1)"><i class="fab fa-chrome"></i> </button>
                      <button class="btn btn-lg" style="font-size:30px;color:#ff6600" onclick="showCertificate(2)"><i class="fab fa-firefox"></i> </button>
                      <button class="btn btn-lg" style="font-size:30px;color:#ff6600" onclick="showCertificate(3)"><i class="fab fa-safari"></i> </button>
                      <button class="btn btn-lg" style="font-size:30px;color:#ff6600" onclick="showCertificate(4)"><i class="fab fa-internet-explorer"></i> </button>
                   </li>
                   
                </ul>
            </li>
          </ul>
       </div>
    </div>
 </section>

 <section class="accordion-section clearfix mt-3" aria-label="Question Accordions" id="faq_section">
  <div class="container">
      <div class="Safety_section">
          <h1 class="product_heading">Frequently Asked Questions</h1>
          
      </div>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
         Is Narad suitable for all biologists or only useful for specific branch of biological sciences?
        </a>
      </h3>
      </div>
      <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
      <div class="panel-body px-3 mb-4">
        <p class="accordion_paragraph">Narad is design keeping the fundamental research pipeline of a biological system in mind. The simple framework of Model System → Protocol → Experiment makes Narad useful to all biologists.</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
        What should I mention in the Model system if I am doing simulatio studies ?
        </a>
      </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body px-3 mb-4">
        <p class="accordion_paragraph">For simulation-based studies, model system represents the type of simulation and/or framework used(e.g., Monte Carlo, Gillespie, Brownian Dynamics, Cellular Potts Model, Chaste etc.).</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
        What aspects of research automation are offered by current version of Narad?
        </a>
      </h3>
      </div>
      <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body px-3 mb-4">
        <p class="accordion_paragraph">Yes, you can upload your document using Manage → Documents option and Narad will automatically find all the relevant experiments related to the uploaded document.</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
        Can I upload new document to my library without tagging it to any experiment?
        </a>
      </h3>
      </div>
      <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body px-3 mb-4">
        <p class="accordion_paragraph">Yes, you can upload your document using Manage->Document option and Narad will automatically find all the relevant experiments related to the uploaded document.      .</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
        Is it safe to store my research data in the cloud ?
        </a>
      </h3>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body px-3 mb-4">
        <p class="accordion_paragraph">Yes, you can upload your document using Manage->Document option and Narad will automatically find all the relevant experiments related to the uploaded document. </p>
      </div>
      </div>
    </div>

    </div>
  
  </div>
</section>
 
<script>
  $('.gallery').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		closeBtnInside: false,
		fixedContentPos: true,
		mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
		image: {
			verticalFit: true
		},
		zoom: {
			enabled: true,
			duration: 300 // don't foget to change the duration also in CSS
		}
	});

</script>
          
      <a name="contact"></a>
    <div id="Contact_section" class="ftco-section contact-section ftco-degree-bg">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h4">Contact Information</h2>
          </div>
          
          <div class="col-md-3">
            <p class="footer_paragraph"><span>Address:  </span>
                <span> 
               370 Dixon Road,<br> Etobicoke, ON M9R1T2,<br> Canada
                 </span> 
            </p>
          </div>
          <div class="col-md-3">
            <p class="footer_paragraph"><span>Phone: </span> <a href="tel://1234567920"></a>+1 4372301684
            </p>
          </div>
          <div class="col-md-3">
            <p class="footer_paragraph"><span>Email: </span> <a href="mailto:info@yoursite.com"></a>sandeep25789@gmail.com
            </p>
          </div>
          <div class="col-md-3">
            <p class="footer_paragraph"><span>Website: </span> <a href="#"></a>https://www.sanmed.ca
            </p>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 pr-md-5"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.750225851911!2d-79.55802218511793!3d43.6949558577487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b30ac591d0759%3A0xbc0bc97d2ec46253!2sDixon%20Rd%2C%20Etobicoke%2C%20ON%20M9R%201T2%2C%20Canada!5e0!3m2!1sen!2sin!4v1578040846425!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
        </div>
      </div> 
    </div>
    
    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2>Subcribe to our Newsletter</h2>
               <p>For Our Latest News</p>
                <div class="row d-flex justify-content-center mt-5">
                  <div class="col-md-8">
                    <form action="#" class="subscribe-form">
                      <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3" style="outline:none;">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </section>
 
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/Sanmed-Narad-101575371360489">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/NaradOnCloud">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="mailto://contact@sanmed.ca">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/company/sanmed-narad">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="https://www.sanmed.ca">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
    <center><a class="btn btn-inline-sm" href="https://narad.sanmed.ca">Narad</a> <a class="btn btn-inline-sm" href="https://vexperiment.sanmed.ca">Vexperiment</a> <a class="btn btn-inline-sm" href="https://labma.sanmed.ca">Labma</a></center>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020, Sanmed Sciences Inc. | 370 Dixon Road, Etobicoke, ON M9R1T2, Canada 
    <a href="https://mdbootstrap.com/education/bootstrap/"> www.sanmadscience.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- Modal -->
  <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRequestLabel">Get In Touch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              
              <input type="text" class="form-control" id="appointment_name" placeholder="Full Name">
            </div>
            <div class="form-group">
             <input type="text" class="form-control" id="appointment_email" placeholder="Email">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
            
                  <input type="text" class="form-control" id="appointment_date" placeholder="Date">
                </div>    
              </div>
              <div class="col-md-6">
                <div class="form-group">
                
                  <input type="text" class="form-control" id="appointment_time" placeholder="Time">
                </div>
              </div>
            </div>
            

            <div class="form-group">
                            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="4" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="button" value="Get a Quote" class="btn btn-primary">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <script src="{%static 'js/jquery.min.js'%}"></script>
  <script src="{%static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
  <script src="{%static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/jquery.animateNumber.min.js'%}"></script>
  <script src="{%static 'js/bootstrap-datepicker.js'%}"></script>
  <script src="{%static 'js/jquery.timepicker.js'%}"></script>
  <script src="{%static 'js/scrollax.min.js'%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{%static 'js/google-map.js'%}"></script>
  <script src="{%static 'js/main.js'%}"></script>


  </body>
</html>